/*
***
*** Global
***
*/
body {
  font-size: 14px;
  line-height: 1.6;
}
/* Positioning */
#shell-header,
#shell-navigation,
#shell-content,
#shell-login {
  position: fixed;
}
#shell-navigation {
  display: none;
}
#shell-header {
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
#shell-content,
#shell-login {
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
/*
***
*** Branding
***
*/
#shell-header {
  background-color: #4a3795;
}
#shell-sidebar {
  background-color: #555;
}
/* Branding */
#shell-header .branding {
  display: inline-block;
  padding: 10px;
  float: left;
}
#shell-header-menu {
  display: inline-block;
  float: right;
  height: 100%;
}
#shell-header-menu > .item {
  display: inline-block;
  color: #FFF;
  height: 100%;
  padding: 0 10px;
}
#shell-header-menu > .item:hover {
  background-color: #372970;
}
#shell-header-menu > .item i {
  transform: translateY(50%);
}
#shell-header-menu > .item img {
  width: 40px;
  height: 40px;
  transform: translateY(25%);
}
#shell-header-menu > .item img.user-photo {
  border-radius: 40px;
}
/*
  ============PANEL
*/
#shell-panel {
  position: fixed;
  top: 60px;
  bottom: 0;
  right: 0;
  width: 300px;
  background: rgba(24, 24, 24, 0.9);
  border-left: 1px solid #101010;
  transition: 0.25s ease-in-out;
  transform: translateX(100%);
  z-index: 9998;
}
#shell-panel.closed {
  transform: translateX(100%);
}
#shell-panel.opened {
  transform: none;
}
#shell-panel .title {
  margin-left: 25px;
  color: #d7d7d7;
  text-align: center;
}
/*
  ============NOTIFICATION PANEL
*/
#shell-panel .notification {
  background: rgba(11, 11, 11, 0.7);
  color: #bebebe;
  padding: 10px;
  margin-bottom: 5px;
}
#shell-panel .notification .notification-desc {
  display: inline-block;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: bottom;
}
#shell-panel .notification .notification-dismiss {
  display: inline-block;
  vertical-align: bottom;
  float: right;
  background: #373737;
  border-radius: 12px;
  padding: 0 5px;
}
#shell-panel .notification .notification-dismiss .close {
  text-shadow: none;
}
#shell-panel .dismiss-all {
  text-align: right;
}
#shell-panel .dismiss-all .btn-link {
  color: #7e7e7e;
}
#shell-panel .dismiss-all .btn-link:hover,
#shell-panel .dismiss-all .btn-link:focus {
  color: #656565;
}
/*
  ============PROFILE PANEL
*/
#shell-panel .profile-photo {
  text-align: center;
  margin: 25px 0;
}
#shell-panel .profile-photo img {
  width: 150px;
  height: 150px;
  border-radius: 150px;
}
#shell-panel .profile-link {
  text-align: center;
}
#shell-panel .profile-link .btn-link {
  color: #7e7e7e;
}
#shell-panel .profile-link .btn-link:hover,
#shell-panel .profile-link .btn-link:focus {
  color: #656565;
}
